<% if @candidate %>

  <h1><%= @candidate.name %></h1>

  <ul>
    <li>party: <%= @candidate.party %></li>
    <li>age: <%= @candidate.age %></li>
    <li>politics: <%= @candidate.politics %></li>
  </ul>

<% else %>

<h1>No Record found!</h1>

<% end %>